[Unit]
Description=Aranea is20s Relay & MQTT Controller
After=network.target

[Service]
Type=simple
User=mijeosadmin
WorkingDirectory=/opt/is20s
Environment=PYTHONPATH=/opt/is20s:/opt/global
ExecStart=/opt/is20s/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8080
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
