[Unit]
Description=Aranea is03a Relay & Monitor
After=network.target

[Service]
Type=simple
User=isms
WorkingDirectory=/opt/is03a
Environment=PYTHONPATH=/opt/is03a:/opt/is03a/../global
ExecStart=/opt/is03a/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8080
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
